/* SECTION 1 */

.navigation {
  width: 100%;
  height: 100px;

  background: #ffffff;
  border-bottom: 2px solid #e2e2e2;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  margin-right: 3.125%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 406px;
}

.nav-link {
  display: inline-block;

  font-size: 24px;
  line-height: 29px;
}

.logo {
  margin-left: 3.125%;
}

.s1-title {
  width: 334px;

  font-weight: 600;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

.s1-text {
  width: 447px;

  font-size: 24px;
  line-height: 29px;

  color: #000000;
  margin-top: 20px;
}

.s1-btn {
  border: none;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

  width: 210px;
  height: 80px;

  background: #eedf58;
  border-radius: 6px;

  margin-top: 56px;
  cursor: pointer;
}

.s1-content {
  width: 93.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 28px;
}

.hero-img {
  width: 95.75%;
}

/* SECTION 2 */

.s2 {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  margin-top: 10vh;

  background-color: #252525;
}

.s2-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;

  color: #fff;
}

.s2-text {
  width: 528px;
  font-size: 24px;
  line-height: 29px;
  margin-top: 32px;

  color: #ffffff;
}

.s2-content {
  width: 93.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serve-img {
  width: 95.75%;
}

.s3-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 36px;

  margin-top: 66px;

  color: #000000;
}

.age-icon,
.saftey-icon,
.driver-icon {
  height: 125px;
}

.adv-div {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 89px;
}

.age-text {
  width: 299px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #1b1b1b;
  margin-top: 45px;
}

.advantages {
  width: 90.4%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.business-age {
  border-right: 2px solid #000000;
  padding-right: 30px;
}

.business-driver {
  border-left: 2px solid #000000;
  padding-left: 30px;
}
