/* SECTION 1 */

.hero-img-phone {
  display: none;
}

.s1-title {
  width: 334px;

  font-weight: 600;
  font-size: 48px;
  line-height: 59px;

  color: #000000;
}

.s1-text {
  width: 447px;

  font-size: 24px;
  line-height: 29px;

  color: #000000;
  margin-top: 20px;
}

.s1-btn {
  border: none;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

  width: 210px;
  height: 80px;

  background: #eedf58;
  border-radius: 6px;

  margin-top: 56px;
  cursor: pointer;
}

.s1-content {
  width: 93.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 28px;
}

.hero-img {
  width: 95.75%;
}

/* SECTION 2 */

.s2 {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  margin-top: 10vh;

  background-color: #252525;
}

.s2-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;

  color: #fff;
}

.s2-text {
  width: 528px;
  font-size: 24px;
  line-height: 29px;
  margin-top: 32px;

  color: #ffffff;
}

.s2-content {
  width: 93.75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.serve-img {
  width: 95.75%;
}

/* SECTION 3 */

.s3-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 36px;

  margin-top: 66px;

  color: #000000;
}

.age-icon,
.saftey-icon,
.driver-icon {
  height: 125px;
}

.adv-div {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 89px;
}

.age-text {
  width: 299px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #1b1b1b;
  margin-top: 45px;
}

.advantages {
  width: 90.4%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.business-age {
  border-right: 2px solid #000000;
  padding-right: 30px;
}

.business-driver {
  border-left: 2px solid #000000;
  padding-left: 30px;
}

/* SECTION 4 */

.s4 {
  margin-top: 120px;
}

.s4-title {
  width: 100%;
  text-align: center;

  font-weight: 600;
  font-size: 36px;

  color: #000000;
}

.s4-promise {
  width: 1100px;

  font-size: 48px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.075em;

  color: #000000;
  margin: 0 auto;
  margin-top: 73px;
}

i {
  font-weight: 500;
}

.unique-btn {
  width: 472px;
  height: 110px;

  background: #fcf086;
  border-radius: 6px;
  font-size: 48px;

  color: #000000;
  border: none;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 92px;
}

/* SECTION 5 */

.s5 {
  margin-top: 138px;
  display: grid;
  grid-template-columns: 58% 42%;
}

.s5-detail {
  background-color: #252525;
}

.s5-title {
  width: 434px;

  font-weight: 600;
  font-size: 48px;
  line-height: 59px;

  color: #ffffff;
}

.s5-text {
  width: 528px;

  font-size: 24px;
  line-height: 29px;

  margin-top: 24px;
  color: #ffffff;
}

.s5-btn {
  border: none;
  font-size: 27px;
  line-height: 29px;

  color: #000000;

  width: 240px;
  height: 60px;

  background: #eedf58;
  border-radius: 6px;

  margin-top: 56px;
  cursor: pointer;
}

.s5-detail {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.s5-content {
  margin-left: 5.125%;
}

/* SECTION 6 & 7 */

.s6 {
  margin-top: 60px;
}

.s6-title {
  width: 100%;
  text-align: center;

  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  color: #000000;
}

.card {
  width: 315px;
  height: 450px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.card-title {
  width: 100%;
  text-align: center;

  font-size: 36px;
  line-height: 44px;

  color: #000000;
  padding-top: 76px;
}

.card-text {
  width: 238px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
  margin-top: 33px;
}

.card-rating {
  font-style: italic;
  font-weight: 600;
  font-size: 36px;

  width: 100%;
  text-align: center;
  margin-top: 50px;

  color: #55f381;
}

.cards {
  display: flex;
  width: 93.75%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
}

.s7 .card {
  background: #fcf086;
}

.s7 .card .card-title {
  padding: 0px;
  margin-top: 30px;
}

.card-number {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.s7 {
  margin-top: 120px;
}

.s7-title {
  width: 100%;
  text-align: center;

  font-weight: 600;
  font-size: 36px;
  line-height: 44px;

  color: #000000;
}
